.code {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.code__wrapper {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #6BD1FF;
}

.code__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #141414;
}

.code__mac-icon {
    position: relative;
    left: 0rem;
    width: 3.25rem;
    height: 0.75rem;
    margin-bottom: 1.5rem;
}

.code__area {
    display: inline-block;
    height: 100%;
    min-height: 315px;
    width: 100%;
    min-height: 40;
    border: none;

    resize: none;
    outline: none;

    background-color: #141414;

    font-family: var(--text-area-font);
    font-size: 0.875rem;
    color: var(--text-color);
    text-align: left;
    white-space: pre-wrap;
    overflow-x: scroll;
}

code::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #141414;
}

code::-webkit-scrollbar {
	height: 8px;
	background-color: #141414;
    border-radius: 10px;
}

code::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #232625;
}

@media screen and (max-width: 500px) {
    .code__area {
        min-height: 200px;
    }
}

.code__btn {
    height: 3.5rem;
    margin-bottom: 2rem;
    background: rgba(80, 129, 251, 0.08);
    color: var(--text-color);
}
