main {
    display: grid;
    grid-template-columns: 1fr 3.6fr;
    gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }

    .project {
        grid-template-columns: 1fr;
    }
}