.editor {
    display: flex;
    flex-direction: column;
}

.editor__frame {
    background-color: #6BD1FF;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    height: 100%;
    box-sizing: border-box;
}

.editor__container {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    width: auto;
    height: 100%;
}

.editor__mac-icon {
    position: relative;
    left: 0rem;
    width: 3.25rem;
    height: 0.75rem;
    margin-bottom: 1.5rem;
}

.editor__code-wrapper {
    width: auto;
    height: 100%;
    resize: none;
    outline: none;
    background-color: #141414;
    border: none;
    font-family: var(--text-area-font);
    font-size: 0.875rem;
    color: var(--text-color);
    text-align: left;
    white-space: pre-wrap;
}

.editor__btn {
    border: none;
    line-height: 2rem;
    text-align: center;
    padding: 1rem 0;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: var(--text-color);
    margin-bottom: 2rem;
}
