.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2.5fr 1.1fr;
    height: 3.25rem;
    gap: 40px;
    margin-bottom: 2.5rem;
}

.header__profile {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.header__user-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.header__search-btn, .header__menu-btn, .header__search-btn--is-open, .header__menu-btn--is-open {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
}

.aside-menu {
    position: absolute;
    display: flex;
    padding: 2rem;
    top: 100px;
    right: 1rem;
    width: 254px;
    height: 100%;
    border-radius: 8px;
    border: none;
    background: var(--aside-menu-color);
    z-index: 1;
}

.aside-menu .menu__list {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #FFFFFF08;
}

.aside-menu .header__profile {
    display: flex;
    margin-left: 12px;
    margin-top: 36px;
}

.header__buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 1024px) {

    .header {
        grid-template-columns: auto 1fr auto;
    }

    .header__profile {
        display: none;
    }

    .header__buttons {
        display: flex;
    }

    .header__menu-btn {
        display: inline;
        background: url(../images/icon_menu.svg) no-repeat center center;
    }
    
    .header__close-btn {
        display: inline;
        background: url(../images/icon-menu-x.svg) no-repeat center center;
    }
}

@media screen and (max-width: 500px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .input {
        display: none;
    }

    .header__buttons {
        display: flex;
    }

    .header__search-btn {
        background: url(../images/icon-search.svg) no-repeat center center;  
    }

    .header__search-btn {
        display: inline;
        justify-self: flex-end;
    }

    .header__close-btn {
        display: inline;
        background: url(../images/icon-menu-x.svg) no-repeat center center;
    }

}

.is-hide {
    display: none !important;
}

.is-open {
    display: inline !important;
}
