.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2.5fr 1.1fr;
    height: 3.25rem;
    gap: 40px;
    margin-bottom: 2.5rem;
}

.header__profile {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.header__user-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.header_search-btn, .header_menu-btn {
    display: none;
    width: 3rem;
}

@media screen and (max-width: 1024px) {

    .header {
        grid-template-columns: auto 1fr auto;
    }

    .header__profile {
        display: none;
    }

    .header_buttons {
        display: inline;
    }

    .header_menu-btn {
        display: inline;
        width: 1.25rem;
        height: 1.125rem;
    }

}

@media screen and (max-width: 500px) {
    .header {
        gap: 30px;
    }

    .header .input {
        display: none;
    }

    .header_search-btn {
        display: inline;
        width: 1.25rem;
        height: 1.125rem;
        justify-self: flex-end;
    }
}
