.menu__container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu--code-icon {
    background: center no-repeat url(../images/icon_code.svg);
}

.menu--users-icon {
    background: center no-repeat url(../images/icon_users.svg);
}

.menu__icon {
    background-color: var(--icon-menu-normal);
    border-radius: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 1rem;
    padding: 1.5rem;
}
