.menu__container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3rem;
    height: 3rem;
    
    border-radius: 1rem;
    margin-right: 1rem;

    background-color: var(--icon-menu-normal);
}

.menu__icon {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
    }
}
