.menu {
    width: 18.8%;
}

.menu__container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu__title {
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.menu__link-users, .menu__link-code {
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    line-height: 2rem;
}

.menu__code-icon {
    background: center no-repeat url(../images/icon_code.svg);
    background-color: #5081FB;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;
    height: 50px;
    width: 50px;
}

.menu__users-icon {
    background: center no-repeat url(../images/icon_users.svg);
    background-color: #5081FB;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;
    height: 50px;
    width: 50px;
}
