.project {
    display: flex;
    flex-direction: column;
}

.project__title {
    margin-bottom: 0.75rem;
}

.project *:nth-child(4) {
    margin-top: 2.5rem;
}

.project .input {
    margin-bottom: 1rem;
}

.project__option {
    color: rgba(255, 255, 255, 0.64);
    background: var(--background);
}

.color-picker__frame {
    padding: 0.5rem;
    height: 3.5rem;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.color-picker__btn {
    background-color: var(--btn-color-picker);
    border: none;
    height: auto;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.project__save-btn {
    background-color: var(--save-btn-normal);
    border-radius: 8px;
    border: none;
    color: var(--save-btn-text);
    line-height: 2rem;
    text-align: center;
    padding: 1rem 0;
}
