.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: flex-start;
}

.project__card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: none;
    overflow: hidden;

    background-color: var(--card-background);
}

.project__card:hover {
    transform: scale(1.02);
}

.project__wrapper {
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: #6BD1FF;
}

.project__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #141414;
}

.project__mac-icon {
    position: relative;
    left: 0rem;
    width: 3.25rem;
    height: 0.75rem;
    margin-bottom: 1rem;
}

.project__container pre {
    padding: 0;
    overflow-y: scroll;
}

pre .project__code-area.hljs {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;

    box-sizing: border-box;

    outline: none;

    background-color: #141414;

    font-family: var(--text-area-font);
    font-size: 0.875rem;
    color: var(--text-color);
    text-align: left;

    overflow-y: hidden;
}

pre {
    display: block;
    overflow: hidden;
    white-space: pre-wrap;
    max-height: 280px;
    height: auto;
    width: auto;
}

pre::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #141414;
}

pre::-webkit-scrollbar {
	width: 8px;
	background-color: #141414;
    border-radius: 10px;
}

pre::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #232625;
}

@media screen and (max-width: 1024px) {
    pre {
        height: auto;
    }
}

.project__info {
    display: flex;
    flex-direction: column;

    margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.project__info h2 {
    margin-bottom: 0.5rem;

    font-family: var(--general-font);
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    color: var(--text-color);
    text-transform: none;
}

.project__like-comment {
    display: flex;
}

.project__icon-comment, .project__icon-like {
    width: 1.25rem;
    aspect-ratio: 1/1;
}

.project__icon-comment {
    background-color: white;
    -webkit-mask: url(../images/icon-comment.svg) no-repeat center / contain;
}

.project__icon-like {
    background-color: white;
    -webkit-mask: url(../images/icon-like.svg) no-repeat center / contain;
}

.project__icon-like.is-liked {
    background-color: var(--icon-favorited);
}

.project__like, .project__comment {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    height: 2.5rem;
    min-width: 3.625rem;
    padding: 0.5rem;

    border: none;
    border-radius: 1rem;
}

.project__comment:hover, .project__like:hover {
    background-color: var(--icon-like-comment-hover);
}

.project__comment:active, .project__like:active {
    background-color: var(--icon-like-comment-pressed);
}

.project__footer {
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.project__footer.is-active {
    visibility: visible;
}

.project__profile {
    display: flex;
    align-items: center;
}

.project__user-image {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.project__profile span::before {
    content: "@";
}

.projext__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projext__title-wrapper div {
    display: flex;
    align-items: center;
    gap: 1rem
}

.projext__title-wrapper h2 {
    max-width: auto;
}

.project__language-code {
    background-color: #FFFFFF10;
    font-size: 1rem;
    padding: 0 0.5rem;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.project__remove-btn {
    justify-self: flex-end;
    background-color: white;
    width: 1rem;
    height: 1rem;
    -webkit-mask: url(../images/icon-exit-menu.svg) no-repeat center / contain;
    transition: 0.15s;
}

.project__remove-btn:hover {
    background-color: red;
}
