.project {
    display: flex;
    flex-direction: column;
}

.project__title {
    margin-bottom: 0.75rem;
}

.project .input {
    margin-bottom: 1rem;
}

.project :nth-child(3) {
    margin-bottom: 2.5rem;
}

.project__option {
    color: var(--input-text-color);
    background: var(--background);
}

.color-picker__frame {
    padding: 0.5rem;
    height: 3.5rem;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.color-picker__btn {
    background-color: var(--btn-color-picker);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    background-color: transparent;
}

.color-picker__btn::-webkit-color-swatch-wrapper {
    padding: 0px;
    margin: 0px;
}

.color-picker__btn::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

.project__save-btn {
    background-color: var(--save-btn-normal);
    border-radius: 8px;
    border: none;
    color: var(--save-btn-text);
    line-height: 2rem;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 1024px){
    .project_customization-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .align-row .input {
        margin-bottom: 0px;
    }

    .color-picker__frame {
        display: flex;
        margin: 0px;
    }
}

@media screen and (max-width: 500px) {
    .project_customization-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
