.app {
    background: var(--background);
    font-family: var(--general-font);
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem;
}

.main-content {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 2.5fr 1.1fr;
}

@media screen and (max-width: 1024px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}

h2 {
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.input {
    background: var(--input-background);
    padding: 1rem 0.9rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.2s;
    resize: none;
    align-self: center;
}

.input::placeholder {
    color: var(--input-text-color);
}
