.main {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 2.5fr 1.1fr;
}

@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
        gap: 0rem;
    }
}

@media screen and (max-width: 500px) {
    .main {
        grid-template-columns: 1fr;
        gap: 0rem;
    }
}

.input {
    background: var(--input-background);
    padding: 1rem 0.9rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.2s;
    resize: none;
    align-self: center;
}

.input::placeholder {
    color: var(--input-text-color);
}
